
@{
    ViewBag.Title = "Company Settings";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@Styles.Render("~/Content/Settings.css")


<head>
    <title>Personalize Company Profile</title>
    <link rel="stylesheet" type="text/css" href="" />
</head>


<body>
    <div>

        <div id="PageInfoDiv">
            <h2>Add a personal touch to your site!</h2><br />
        </div>





        <div class="container">



            <div class="row">
                <div class="col-sm-5" id="ett" style="background-color:lavender; margin-right:5%;">
                    <div id="ThemeSettings">
                        <div><h3>Choose your theme.</h3></div>


                        <a href="#" onclick="changeCSS('http://bootswatch.com/cerulean/bootstrap.min.css', 0);">Style Cerulean</a> <br />
                        <a href="#" onclick="changeCSS('http://bootswatch.com/spacelab/bootstrap.min.css', 0);">Style Spacelab</a> <br />
                        <a href="#" onclick="changeCSS('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', 0);">Style Netna</a> <br />
                        <a href="#" onclick="changeCSS('http://bootswatch.com/slate/bootstrap.min.css', 0);">Style Slate</a><br />
                    </div>
                    <br />
                </div>




                <div class="col-sm-4" style="background-color:lavender;">
                    <form class="idForm" data-bind="submit: register" method="post">

                        <h3>Add a service you provide. </h3>
                        <div class="form-group">
                            <label>Name</label>
                            <input id="newJobCategoryInput" onkeyup="validateNewJobCategoryInput()" class="commentFormInput" type="text" /> <label id="commentNewCategoryInputPrompt"></label>
                        </div>
                        <label id="hours">Hours</label>
                        <select id="dropHours">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>

                        <label class="minutes">Minutes</label>

                        <select id="dropMinutes">
                            <option value="0">0</option>
                            <option value="30">30</option>
                        </select>

                        <div class="form-group">
                            <br />
                            <button type="button" onclick="categoryPostFunction()" class="btn btn-default">Add new category</button>

                        </div>
                        <br />
                    </form>
                </div>



            </div>
        </div>






        <div class="container">


            <div class="row">

                <div class="col-sm-5" id="tre" style="background-color:lavenderblush; margin-right:5%; ">
                    <div><h3>Set your company slogan.</h3></div>
                    <form class="idForm" data-bind="submit: register" method="post">



                        <div id="SetText">
                            <h3>New start Text</h3>
                            <div class="form-group">
                                <input id="newStartTextInput" onkeyup="validateNewStartTextInput()" class="commentFormInput" type="text" /> <label id="commentNewStartTextInputPrompt"></label>
                            </div>

                            <div class="form-group">
                                <button type="button" onclick="updateStartTextFunction()" class="btn btn-default">Add new text</button>
                            </div>
                        </div>
                    </form>
                </div>




                <div class="col-sm-4" id="fem" style="background-color:lavenderblush; margin-right:5%; ">

                    <form class="idForm" data-bind="submit: register" method="post">

                        <div>
                            <h3 id="numberOfUnApprovedBookings"></h3>
                            <br />
                            <select id="dropsterUnApprovedBookings"></select>
                            <br />
                            <br />
                            <br />

                            <button type="button" onclick="changeBookingToAcceptedFunction(); clear();">Delete Service</button>
                        </div>


                    </form>
                </div>




            </div>
        </div>


        <div class="container">



            <div class="row">

                <div class="col-sm-5" id="tre" style="background-color:lavender; margin-right:5%; ">
                    <div><h3>Set your Custom Logo</h3></div>
                    <form class="idForm" data-bind="submit: register" method="post">

                        <div id="SetPicture">
                            <h3>Logo URL</h3>
                            <div class="form-group">
                                <input id="newPictureUrlInput" onkeyup="validateNewPictureUrlInput()" class="commentFormInput" type="text" /> <label id="commentNewPictureUrlInputPrompt"></label>
                            </div>

                            <div class="form-group">
                                <button type="button" onclick="updatePictureFunction()" class="btn btn-default">Add new picture</button>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="col-sm-4" id="fyra" style="background-color:lavenderblush;">
                    <div id="NewOpenHours">
                        <form id="idForm" data-bind="submit: register" method="post">

                            <h3>Add Business Hours.</h3>
                            <label id="Openinghours">We open at:</label>
                            <select id="dropOpenHours">
                                <option value="04:00">04:00</option>
                                <option value="05:00">05:00</option>
                                <option value="06:00">06:00</option>
                                <option value="07:00">07:00</option>
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                            </select>
                            <br />
                            <label id="ClosingHours">We close at:</label>

                            <select id="dropCloseHour">
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                                <option value="19:00">19:00</option>
                                <option value="20:00">20:00</option>
                                <option value="21:00">21:00</option>
                                <option value="22:00">22:00</option>
                                <option value="23:00">23:00</option>

                            </select>

                            <div class="form-group">
                                <br />
                                <button type="button" onclick="PutNewOpeningHoursFunction()" class="btn btn-default">Change Opening hours</button>

                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div id="successModal" class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Success!</h4>
                    </div>
                    <div class="modal-body">
                        <br />
                        <h4>Your changes have been saved!</h4>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>


        <div id="errorModal" class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error!</h4>
                    </div>
                    <div class="modal-body">
                        <br />
                        <h4>An error has occured, please controll your information!</h4>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>













        <div class="vit" style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:white"></div>
    </div>


</body>












@section scripts{
    <script>

        $(document).ready(function () {

            var url = "https://alltbokatwebapi2.azurewebsites.net/api/CategoryModels/";

            $.ajax({
                //var url = "https://alltbokatwebapi2.azurewebsites.net/api/CategoryModels/" + idNumber;

                url: url,
                type: "Get",

                success: function (data) {
                    var numberOf = 0;



                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Approved) { document.getElementById('numberOfUnApprovedBookings').innerHTML = "You have " + numberOf + " uncontrolled bookings" }
                        else {
                            numberOf += 1;
                            var result = data[i].Name + " Hour:" + data[i].Hour + " Minutes: " + data[i].Minutes;
                            var id = data[i].Id;



                            document.getElementById('numberOfUnApprovedBookings').innerHTML = "Delete Service"

                            $('#dropsterUnApprovedBookings').append($('<option>', {
                                value: id,
                                text: result

                            }));

                        }


                    }

                },
                error: function (msg) { alert(msg + "start FELA"); }
            });

        });




        // DELETE: api/CategoryModels/5
        function changeBookingToAcceptedFunction() {

            idNumber = $('#dropsterUnApprovedBookings').val();
            var url = "https://alltbokatwebapi2.azurewebsites.net/api/CategoryModels/" + idNumber;

            var reqdata = {
                Id: idNumber
            }

            var stringReqdata = JSON.stringify(reqdata);
            $.ajax({

                url: url,
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                data: stringReqdata,

                success: function (data) {
                    console.log(data);
                    $('#textAreaUnApprovedBookings').val("");
                    $("#dropsterUnApprovedBookings").empty();
                    refreashUnApprovedBookingsFunction()
                }
                //a
            });
        };

        function refreashUnApprovedBookingsFunction() {

            //$("#dropsterUnApprovedBookings").clear();

            var url = "https://alltbokatwebapi2.azurewebsites.net/api/CategoryModels/";
            $.ajax({


                url: url,
                type: "Get",

                success: function (data) {
                    //dropsterUnApprovedBookings.Items.empty();
                    var numberOf = 0;
                    var trHTML = '';
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Approved) { document.getElementById('numberOfUnApprovedBookings').innerHTML = "You have " + numberOf + " active services" }
                        else {
                            numberOf += 1;
                            var result = data[i].Name + " Hour:" + data[i].Hour + " Minutes: " + data[i].Minutes;
                            var id = data[i].Id;
                            document.getElementById('numberOfUnApprovedBookings').innerHTML = "You have " + numberOf + " active services"

                            $('#dropsterUnApprovedBookings').append($('<option>', {
                                value: id,
                                text: result

                            }));

                        }
                    }

                }


            });
        }

        function clear() {

            $("#dropsterUnApprovedBookings").empty();
            refreashUnApprovedBookingsFunction();

        }


    </script>

}





